body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #3d52a1;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 200px;
    /* Same as the sidebar width */
    padding: 15px;
    flex: 1;
    background-color: #7191e6;
    height: 1455px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto 1fr; */
    gap: 20px;
}

.box {
    background-color: #eee8f6;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #3d52a1;
    height: 325px;
}

.donut-graph {
    height: 340px;
  width: 386px;
}

.donut-graph canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart {
    display: flex;
    box-sizing: border-box;
    height: 340px;
    width: 640px;
}

table {
    border-collapse: separate;
    border-spacing: 0 2px;
    /* Adjust the second value to set the desired gap between rows */
    background-color: #adbada;
}

table tr {
    background-color: #f8f9fa;
    /* Optional: Add background color to alternate rows */
}

th,
td {
    padding: 8px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
    background-color: #eee8f6;
}

th {
    background-color: #3d52a147;
}

.table-wrapper {
    max-height: 300px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
}

.table-wrapper table {
    width: 100%;
    /* Set the width to 100% */
}


.container1,
.container2,
.container3 {
    display: inline-grid;
    width: 33%;
    margin-bottom: 10px;
}

.container4 {
    display: inline-block;
    margin-right: 4px;
    width: 698px;
}

.container5 {
    display: inline-flex;
    position: absolute;
    width: 330px;
}

.container4,
.container5 {
    margin-bottom: 10px;
    
}

.container7,
.container8 {
    display: inline-block;
    margin-bottom: 10px;
}

.container9,.container6{
    /* margin-bottom: 10px; */
    display: inline-block;
  width: 514px;
}
